body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background: linear-gradient(135deg, #0a192f, #112240, #1f4068);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background: rgba(20, 40, 80, 0.9);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    color: #e6f1ff;
    box-shadow: 0 10px 30px rgba(0, 0, 50, 0.6);
    backdrop-filter: blur(10px);
    width: 280px;
}


h1 {
    font-size: 18px;
    margin: 15px 0 5px;
    color: #66ccff;
}


p {
    font-size: 15px;
    margin: 0 0 10px;
    color: #e6f1ff;
}

p:hover {
    color: #a8e0ff;
    transition: 0.3s;
}
